@import "@/assets/_variables.scss";

* {
  box-sizing: border-box;
  scrollbar-color: rgba($dark, 0.75) rgba($primary-color, 0.3);
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  @media screen {
    min-width: 1280px;
    min-height: 100vh;
    background-color: $background-medium;
  }

  font-family: $font-family-base;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typografi
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $spacing-md;
  font-weight: 600;
  line-height: 1.2;
  color: $dark;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-lg;
}

h4 {
  font-size: $font-size-base;
  font-weight: 700;
}

// För tillgänglighet
:focus {
  outline: 2px solid rgba($primary-color, 0.5);
  outline-offset: 2px;
}
