%text-input {
  border: 1px solid var(--bs-border-color);
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s,
  box-shadow 0.3s;

  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
    outline: none;
  }
}
