@import "./base.scss";
@import "$fonts/ebgaramond/EBGaramond.css";
@import "$fonts/freesans/FreeSans.css";

$tooltip-max-width: 320px;
$tooltip-padding-x: 0.75rem;
$tooltip-padding-y: 0.5rem;
$border-color: #bbb;
@import "bootstrap/scss/bootstrap.scss";

body {
  margin: 0;

  @media screen {
    background-color: #f6f6f6;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
